<div class="match-header" onclick="toggleDetails('<%= match.id %>')">
    <!-- <tr>
        <td>Team1</td>
        <td>Score1</td>
        <td>Score2</td>
        <td>Team2</td>
        <td>Durée</td>
    </tr> -->

    <!-- Affiche la date et l'heure du match joué -->
    <div class="timestamp">
        <span id="date"><%= match.timestamp[1] %></span>
        <br>
        <span id="hour"><%= match.timestamp[2] %></span>
    </div>
    
    <!-- Affiche le résultat du score dans des boxes     -->
    <!--                                                 -->
    <!-- Le style permet d'afficher plus ou moins grosse -->
    <!-- la barre en fonction de l'équipe gagnante       -->
    <%
        const team0Class = match.teams[0] === match.winner ? 'team-winner' : 'team-loser';
        const team1Class = match.teams[1] === match.winner ? 'team-winner' : 'team-loser';
        const team0Width = match.teamsData[match.teams[0]]['goals'] > match.teamsData[match.teams[1]]['goals'] ? 'width:54%;' : 'width:44%;';
        const team1Width = match.teamsData[match.teams[1]]['goals'] > match.teamsData[match.teams[0]]['goals'] ? 'width:54%;' : 'width:44%;';
    %>

    <div class="teams-score">
        <div class="team0 <%= team0Class %>" style="<%= team0Width %>">
            <p class="name"><%= match.teams[0] %></p>
            <p class="goals"><%= match.teamsData[match.teams[0]]['goals'] %></p>
        </div>
        <div class="team1 <%= team1Class %>" style="<%= team1Width %>">
            <p class="goals"><%= match.teamsData[match.teams[1]]['goals'] %></p>
            <p class="name"><%= match.teams[1] %></p>
        </div>
    </div>

    <!-- Affiche si le joueur est MVP de la partie ou non -->
    <% if (match.mvp.PlayerName === PlayerDatas.nickname) { %>
        <div class="mvp-result">MVP</div>
    <% } else { %>
        <span class="mvp-result" style="background: transparent"></span>
    <% } %>

    <!-- Affiche le résultat de la partie selon le joueur rentré dans le .env -->
    <% if (match.matchResult === "Win") {%>
        <div class="scoreResultStatus WinText">WIN</div>
    <% } else if (match.matchResult === "Lose") { %>
        <div class="scoreResultStatus LoseText">LOSE</div>
    <% } else { %>
        <div class="scoreResultStatus NoNameText">N/A</div>
    <% } %>
    
</div>