<div class="match-box">
    <h2><%= match.timestamp %></h2> 
        <!-- <span class="titleMVP"><%= match.mvp.PlayerName %></span> MVP</h2> -->
    <p class="match-duration"><%= match.duration %></p>

    <!-- Table équipe 0 -->
    <table class="scoreboard">
        <tbody>
            <tr class="thead">
                <td><%= match.teams[0] %></td>
                <td>Joueur</td>
                <td>Platform</td>
                <td>Score</td>
                <td>Goals</td>
                <td>Assists</td>
                <td>Saves</td>
                <td>Shots</td>
                <td>Possession</td>
            </tr>
            <% const team0Players = match.players.filter(p => p.TeamName === match.teams[0]); %>
            <% team0Players.forEach(player => { %>
                <%- include('layout/table.ejs', { match: match, player: player, teamName: match.teams[0] }) %>
            <% }) %>
        </tbody>
    </table>

    <br>
    <!-- Table équipe 1 -->
    <table class="scoreboard">
        <tbody>
            <tr class="thead">
                <td><%= match.teams[1] %></td>
                <td>Joueur</td>
                <td>Platform</td>
                <td>Score</td>
                <td>Goals</td>
                <td>Assists</td>
                <td>Saves</td>
                <td>Shots</td>
                <td>Possession</td>
            </tr>
            <% const team1Players = match.players.filter(p => p.TeamName === match.teams[1]); %>
            <% team1Players.forEach(player => { %>
                <%- include('layout/table.ejs', { match: match, player: player, teamName: match.teams[1] }) %>
            <% }) %>
        </tbody>
    </table>


</div>