<div class="match-header" onclick="toggleDetails('<%= match.id %>')">
    <!-- <tr>
        <td>Team1</td>
        <td>Score1</td>
        <td>Score2</td>
        <td>Team2</td>
        <td>Durée</td>
    </tr> -->

    <div class="timestamp">
        <%= match.timestamp[1] %>
        <%= match.timestamp[2] %>
    </div>
    
    <div class="scoreResult">
        <div class="scoreWinner">
            <strong>
                <%= match.winner %>
            </strong>
            ( <%= match.teamsData[match.winner]['goals'] %> )
        </div>
        
        <div class="scoreLoser">
            ( <%= match.teamsData[match.loser]['goals'] %> )
            <strong>
                <%= match.loser %>
            </strong>
        </div>
    </div>

    <!-- Affiche si le joueur est MVP de la partie ou non -->
    <% if (match.mvp.PlayerName === PlayerStats.nickname) { %>
        <div class="mvp-result">MVP</div>
    <% } else { %>
        <span class="mvp-result" style="background: transparent"></span>
    <% } %>

    <% if (match.matchResult === "Win") {%>
        <div class="scoreResultStatus WinText">WIN</div>
    <% } else if (match.matchResult === "Lose") { %>
        <div class="scoreResultStatus LoseText">LOSE</div>
    <% } else { %>
        <div class="scoreResultStatus NoNameText">N/A</div>
    <% } %>
    
</div>