<div class="match-box" id="details_<%= match.id %>">

    <!-- Div qui affiche l'équipe gagnante, la date, et la durée du match-->
    <div class="match-box-title">
        
        <!-- Affichage de l'équipe gagnante -->
        <span>
            <%= match.winner %>
        </span>
        
        <!-- Affichage de la date de la partie -->
        <span>
            <%= match.timestamp %>
        </span>
        
        <!-- Affichage de la durée de la partie -->
        <span class="match-duration">
            <%= match.duration %>
        </span>
    </div>

    <br>

    <!-- Table équipe 0 -->
    <table class="scoreboard">
        <tbody>
            <tr class="thead">
                <td><%= match.teams[0] %></td>
                <td>Player</td>
                <td>Platform</td>
                <td>Score</td>
                <td>Goals</td>
                <td>Assists</td>
                <td>Saves</td>
                <td>Shots</td>
                <td>Possession</td>
            </tr>
            <% const team0Players = match.players
                                        .filter(p => p.TeamName === match.teams[0])
                                        .sort((a, b) => parseInt(b.Score) - parseInt(a.Score)); %>
            <% team0Players.forEach((player, index) => { %>
                <%- include('../layout/table.ejs', { 
                    match: match, 
                    player: player, 
                    index, 
                    teamName: match.teams[0] }) %>
            <% }) %>
        </tbody>
    </table>

    <br>

    <!-- Table équipe 1 -->
    <table class="scoreboard">
        <tbody>
            <tr class="thead">
                <td><%= match.teams[1] %></td>
                <td>Player</td>
                <td>Platform</td>
                <td>Score</td>
                <td>Goals</td>
                <td>Assists</td>
                <td>Saves</td>
                <td>Shots</td>
                <td>Possession</td>
            </tr>
            <% const team1Players = match.players
                                        .filter(p => p.TeamName === match.teams[1])
                                        .sort((a, b) => parseInt(b.Score) - parseInt(a.Score)); %>
            <% team1Players.forEach((player, index) => { %>
                <%- include('../layout/table.ejs', { 
                    match: match, 
                    player: player, 
                    index,
                    teamName: match.teams[1] }) %>
            <% }) %>
        </tbody>
    </table>
    <hr>
    <span class="match-id">
        id - <%= match.id %>
    </span>

</div>