<% 
    // Récuperer les joueurs par team, pour pouvoir mieux trier en dessous au niveau des tables
    const teamPlayers = match.players.filter(p => p.TeamName === teamName);
    // ----------------
    // Déterminer l'équipe qui a gagné, pour faciliter le code en dessous
    const isWinner = match.winner === teamName;
%>

<tr class="<%= player.TeamName === match.winner ? 'table_tWinner' : 'table_tLoser' %>"
    id="<%= player.TeamName === match.teams[0] ? 'team0' : 'team1'%>">
    
    <!-- Affiche le score (nombre de but(s)) de l'équipe -->
    <% if (index === 0) { %>
        <td rowspan="<%= teamPlayers.length %>" class="<%= isWinner ? 'table_team_winner' : 'table_team_loser' %>">
            <%= match.teamsData[player.TeamName].goals %>
        </td> 
    <% } %>
    
    <!-- Affiche le pseudo du joueur                                                                -->
    <!-- Si le client clique sur le lien, il est redirigé vers le tracker contenant                 -->
    <!-- des informations publiques sur le joueur, trouvé grace à la plateforme et au pseudonyme    -->
    <!--                                                                                            -->
    <!-- Afficher le MVP (Most Valuable Player) pour le joueur ayant le + de score                  -->
    <!-- Et seulement si le joueur ayant le + de score est dans la team qui a gagné                 -->

    <td class="table_player <%=  (player.PlayerName === match.mvp.PlayerName && player.TeamName === match.winner) ? 'table_player_mvp' : ''%>">
        <a class="a_link"
            href="https://rocketleague.tracker.network/rocket-league/profile/<%= match.platform[player.PlayerName][1] %>/<%= player.PlayerName %>/overview"
            id="<%= player.TeamName === match.teams[0] ? 'team0' : 'team1'%>" target="_blank">
            
            <!-- Affiche seulement les 16 premiers caractères du pseudonyme du joueur (pour éviter les trop longs pseudo)-->
            <% if (player.PlayerName.length > 16) { %>
                <%= player.PlayerName.slice(0, 16) %> ..
            <% } else { %>
                <%= player.PlayerName %>
            <% } %>
        </a>
    </td>

    <!-- Affiche l'image de la plateforme du joueur (Xbox, steam, ...)-->
    <td class="table_platform">
        <img src="<%= match.platform[player.PlayerName][2] %>">

    </td>
    
    <!-- Affiche le score du joueur -->
    <td class="table_score">
        <%= player.Score %>
    </td>
    
    <!-- Affiche le nombre de but inscrit par le joueur -->
    <td class="table_goal">
        <%= player.Goals %>
    </td>
    
    <!-- Affiche le nombe de passe décisives du joueur -->
    <td class="table_assist">
        <%= player.Assists %>
    </td>
    
    <!-- Affiche le nombre d'arrêt du joueur -->
    <td class="table_save">
        <%= player.Saves %>
    </td>
    
    <!-- Affiche le nombre de tir du joueur -->
    <td class="table_shot">
        <%= player.Shots %>
    </td>
    
    <!-- Affiche le temps de possession de la balle du joueur (en mm:ss)-->
    <td class="table_possession">
        <%= player.PossessionTime %>
    </td>
</tr>