
<div id="PlayerGlobalId" class="GlobalGroup">

    <div class="group">
        <div class="title">
            Nickname
        </div>
        <div class="datas">
            <%= PlayerDatas.nickname %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            Games Played
        </div>
        <div class="datas">
            <%= PlayerDatas.game.played %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            Wins
        </div>
        <div class="datas">
            <%= PlayerDatas.game.win %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            MVP
        </div>
        <div class="datas">
            <%= PlayerDatas.mvp.total %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            WinRate
        </div>
        <div class="datas">
            <%= PlayerDatas.game.rate %>
        </div>
    </div>
</div>