<div class="AllStats">

    <div class=MainGroup>

        <div id="PlayerStatsID" class="GlobalGroup">
            <div class="group">
                <div class="title">
                    Goals
                </div>
                <div class="datas">
                    <%= PlayerDatas.goal.total %>
                </div>
            </div>

            <div class="group">
                <div class="title">
                    Average
                </div>
                <div class="datas">
                    <%= PlayerDatas.goal.avg %>
                </div>
            </div>
        </div>
    </div>


    <div class=MainGroup>

        <div id="PlayerStatsID" class="GlobalGroup">
            <div class="group">
                <div class="title">
                    Assists
                </div>
                <div class="datas">
                    <%= PlayerDatas.assist.total %>
                </div>
            </div>

            <div class="group">
                <div class="title">
                    Average
                </div>
                <div class="datas">
                    <%= PlayerDatas.assist.avg %>
                </div>
            </div>
        </div>
    </div>



    <div class=MainGroup>

        <div id="PlayerStatsID" class="GlobalGroup">
            <div class="group">
                <div class="title">
                    Saves
                </div>
                <div class="datas">
                    <%= PlayerDatas.save.total %>
                </div>
            </div>

            <div class="group">
                <div class="title">
                    Average
                </div>
                <div class="datas">
                    <%= PlayerDatas.save.avg %>
                </div>
            </div>
        </div>
    </div>



    <div class=MainGroup>

        <div id="PlayerStatsID" class="GlobalGroup">
            <div class="group">
                <div class="title">
                    Shots
                </div>
                <div class="datas">
                    <%= PlayerDatas.shot.total %>
                </div>
            </div>

            <div class="group">
                <div class="title">
                    Average
                </div>
                <div class="datas">
                    <%= PlayerDatas.shot.avg %>
                </div>
            </div>
        </div>
    </div>

    <div class=MainGroup>

        <div id="PlayerStatsID" class="GlobalGroup">
            <div class="group">
                <div class="title">
                    Demolitions
                </div>
                <div class="datas">
                    <%= PlayerDatas.demo.total %>
                </div>
            </div>

            <div class="group">
                <div class="title">
                    Average
                </div>
                <div class="datas">
                    <%= PlayerDatas.demo.avg %>
                </div>
            </div>
        </div>
    </div>

</div>