<div id="PlayerStatsID" class="GlobalGroup">

    <div class="group">
        <div class="title">
            Games Played
        </div>
        <div class="datas">
            <%= PlayerDatas.games_played %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            Wins
        </div>
        <div class="datas">
            <%= PlayerDatas.games_won %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            MVP
        </div>
        <div class="datas">
            <%= PlayerDatas.games_mvp %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            WinRate
        </div>
        <div class="datas">
            <%= PlayerDatas.games_winrate %>
        </div>
    </div>
</div>




<div id="PlayerStatsID" class="GlobalGroup">

    <div class="group">
        <div class="title">
            Goals
        </div>
        <div class="datas">
            <%= PlayerDatas.total_goals %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            Saves
        </div>
        <div class="datas">
            <%= PlayerDatas.total_saves %>
        </div>
    </div>

    <div class="group">
        <div class="title">
            Shots
        </div>
        <div class="datas">
            <%= PlayerDatas.total_shots %>
        </div>
    </div>
</div>